<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData" class="form-group">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" formControlName="username" class="form-control">
                        <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" class="help-block">
                            <span *ngIf="signupForm.get('userData.username').errors['nameFormbidden']">Please enter a valid name</span>
                        <span *ngIf="signupForm.get('userData.username').errors['required']">This field should not be empty</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="text" id="email" formControlName="email" class="form-control">
                        <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" class="help-block">
                            <span *ngIf="!signupForm.get('userData.email')?.errors?.valid">Please enter a valid email id</span>
                        <span *ngIf="signupForm.get('userData.email')?.errors?.emailIsForbidden">Email is forbidden</span>
                        </span>
                    </div>
                </div>
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input
                        type="radio"
                        formControlName="gender"
                        [value]="gender">{{ gender }}
                    </label>
                </div>

                <div formArrayName="hobbies">
                    <p>Add your hobbies here</p>
                    <button class="btn btn-secondary" type="button" (click)="addHobby()">Add hobbies</button> <br><br>
                    <div class="form-group" *ngFor="let hobby of signupForm.get('hobbies').controls; let i=index">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div><br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <form [formGroup]="projectForm" (ngSubmit)="submitProjectForm()">
                <div class="form-group">
                    <label for="projectname">Enter your project name</label>
                    <input type="text" name="projectname" class="form-control" formControlName="projectname">{{!projectForm.get('projectname').valid && projectForm.get('projectname').touched}}
                    <span *ngIf="!projectForm.get('projectname').valid && projectForm.get('projectname').touched" class="help-block">
                        <!-- Please enter the project name -->
                        <span *ngIf="projectForm.get('projectname')?.errors?.required">Please enter the project name</span>
                    <span *ngIf="projectForm.get('projectname')?.errorsinvalidProjectName">Please enter a valid project name</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Enter your mail Id</label>
                    <input type="text" name="email" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="projectstatus">Enter the project status</label>
                    <select name="projectstatus" class="form-control" formControlName="projectstatus">
                            <option value="stable">Stable</option>
                            <option value="critical">Critical</option>
                            <option value="finished">Finished</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>