<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData" class="form-group">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" formControlName="username" class="form-control">
                        <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched" class="help-block">
                            <span *ngIf="signupForm.get('userData.username').errors['nameFormbidden']">Please enter a valid name</span>
                        <span *ngIf="signupForm.get('userData.username').errors['required']">This field should not be empty</span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="text" id="email" formControlName="email" class="form-control">
                        <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched" class="help-block">
                            <span *ngIf="!signupForm.get('userData.email').errors['valid']">Please enter a valid email id</span>
                        <span *ngIf="signupForm.get('userData.email').errors['emailIsForbidden']">Email is forbidden</span>
                        </span>
                    </div>
                </div>
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input
                        type="radio"
                        formControlName="gender"
                        [value]="gender">{{ gender }}
                    </label>
                </div>

                <div formArrayName="hobbies">
                    <p>Add your hobbies here</p>
                    <button class="btn btn-secondary" type="button" (click)="addHobby()">Add hobbies</button> <br><br>
                    <div class="form-group" *ngFor="let hobby of signupForm.get('hobbies').controls; let i=index">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div><br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>